.login-page-div
{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;

    background-color: #0006;
    
    .content-div
    {
        height: max-content;
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        background-color: $colorPrimary;
        border: 1px solid black;
        border-radius: 4px;
        
        .form-div
        {
            padding: 0 32px;
            margin-bottom: 32px;
            
            .register-a
            {
                text-align: left;
                font-size: $fontSizeSmall;
            }

            .error-span
            {
                width: max-content;
                padding: 4px;
                font-size: $fontSizeSmall;
                background-color: $colorLightRed;
                border-radius: 4px;
                margin-bottom: 8px;
            }

            .login-form
            {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            
                .email-input, .password-input
                {
                    width: calc(100% - 16px);
                    padding: 8px;

                    border: none;
                    border-radius: 8px;
                    background-color: adjust-color($color: $colorWhite, $alpha: -.2);
                    font-size: $fontSizeSmall;
                }
                
                .password-input
                {
                    margin-top: 8px;
                    -webkit-text-security: disc;
                }

                .remember-me-div
                {
                    font-size: $fontSizeSmall;

                    label
                    {
                        margin-right: 16px;
                    }
                }
            }

            .btn-div
            {
                display: flex;
                justify-content: center;
        
                .submit-btn
                {
                    width: min-content;
                    margin-top: 16px;
            
                    background-color: adjust-color($color: $colorWhite, $alpha: -.2);
                    border: none;
                    border-radius: 8px;
                    font-family: $fontHeader;
                }
            }
        }
    }
}