.app-nav
{
    width: calc(100% - 32px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    background-color: $colorPrimary;
}

.app-logo
{
    width: 48px;
    height: auto;
}

.home-page-a
{
    font-weight: bold;
}

.cart-page-a
{
    $size: 32px;
    width: $size;
    height: $size;

    display: block;

    .cart-a-img
    {
        width: $size;
        height: auto;
    }
    
    .cart-items-number
    {
        width: 24px;
        height: 24px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        position: relative;
        top: calc(-1 * #{$size} /2);
        left: calc(#{$size} /2);
    
        border-radius: 100%;
        background-color: adjust-color($color: $colorLightRed, $alpha: -.2);
    }
}
