.app-header
{
    width: calc(100% - 32px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    background-color: $colorPrimary;

    .app-logo
    {
        width: 48px;
        height: auto;
    }

    .app-nav
    {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        button
        {
            background-color: transparent;
            border: none;
            font-family: $fontHeader;
        }
    }

    .right-menu
    {
        display: flex;
        align-items: center;
        
        $size: 32px;

        .menu-img
        {
            width: $size;
            height: auto;
        }
                
        .right-menu-a
        {
            width: $size;
            height: $size;
            margin-left: 8px;

            display: block;
            
            .cart-items-number
            {
                width: 24px;
                height: 24px;
            
                display: flex;
                justify-content: center;
                align-items: center;
            
                position: relative;
                top: calc(-1 * #{$size} /2);
                left: calc(#{$size} /2);
            
                border-radius: 100%;
                background-color: adjust-color($color: $colorLightRed, $alpha: -.2);
            }
        }
    }
}

