
.appNav
{
    $imageWidth: 48px;
    $imageMargin: 16px;

    width: 100%;
    background-color: $primary;
    padding: 32px 0 16px 0;

    img
    {
        float: left;
        margin-left: $imageMargin;
        width: $imageWidth;
        height: auto;
    }
    
    ul
    {
        position: relative;
        
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    
    li
    {
        display: inline;
        padding: 16px;
    }

    a
    {
        font: $anchorFont;
        color: $darkFontColor;
        left: calc((-#{$imageWidth} - #{$imageMargin})/2);
    }

    #cart
    {
        $size: 48px;
        width: $size;
        height: $size;
        border-radius: 100%;
        float: right;
        margin-right: 16px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        text-decoration: none;

        .items-number
        {
            display: flex;
            justify-content: center;
            align-items: center;
            $size: 28px;
            min-width: $size;
            min-height: $size;
            position: relative;
            top: 4px;
            left: 4px;
            border-radius: 100%;
            background-color: $paletteLightRed;
            color: black;
        }
    }

    .cart-img
    {
        position: relative;
        top: 0;
        left: 0;
    }
}