.profile-div
{
    padding: $defaultMargin 0 $defaultMargin;
    display: flex;
    justify-content: center;

    .login-div
    {
        display: flex;
        flex-direction: column;

        ul
        {
            display: flex;
            justify-content: space-evenly;
            font-weight: bold;
        }

        button
        {
            border: none;
            font-family: $fontHeader;
        }
    }

    .profile-div
    {
        padding: 32px;

        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 16px;
        background-color: $colorPrimary;

        .profile-info
        {
            margin-bottom: 32px;
            
            .info-line
            {
                width: 100%;
                display: flex;
    
                .info-name
                {
                    width: 128px
                }
            }
        }
    
        .logout-btn
        {
            background-color: adjust-color($color: $colorWhite, $alpha: -.2);
            border: none;
            border-radius: 4px;
            font-family: $fontHeader;
        }
    }
}