.profile-div
{
    padding: $defaultMargin 0 $defaultMargin;
    display: flex;
    justify-content: center;

    .login-div
    {
        display: flex;
        flex-direction: column;

        ul
        {
            display: flex;
            justify-content: space-evenly;
            font-weight: bold;
        }

        button
        {
            border: none;
            font-family: $fontHeader;
        }
    }

    .profile-info
    {
        background-color: $colorPrimary;
        padding: 32px;
        border-radius: 16px;
    }

    .logout-btn
    {
        background-color: adjust-color($color: $colorWhite, $alpha: -.2);
        border: none;
        border-radius: 4px;
    }
}