.item-div
{
    $imgWidth: 128px;
    $imgMargin: 16px;

    max-height: calc(#{$imgWidth} + #{$imgMargin});
    text-align: left;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-top-width: 0;
    padding: 16px;
    font-size: 18px;

    .item-title
    {
        font-size: 20px;
        margin: 0;
    }

    .item-img
    {
        min-width: $imgWidth;
        height: 128px;
        margin: 0 $imgMargin 0 0;
        background-color: #333;
    }

    .item-price
    {
        font-weight: bold;
        color: $colorPrice;
    }
}