$font: 18px sans-serif;
$fontDefault: sans-serif;
$fontHeader: georgia;
$anchorFont: bold $font;
$defaultMargin: 128px;

// Font
    // Font Sizes

    $fontSizeSmall: 16px;

    // Font Colors

        $colorWhite: #eee;
        $colorPrice: #257E52;
        $colorPriceLight: #76D6A6;

// Colors

    $colorWhite: #eee;
    $colorPrimary: #76D6A6;
    $colorSecondary: #0C3040;
    $colorTertiary: #0C3040;
    $colorLightRed: #c93939;


html
{
    background-color: $colorWhite;
    font: $font;
    color: black;
    font-size: 22px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: $fontHeader;
}

body
{
    width: auto;
    margin: 0;
}

a
{
    color: black;
    text-decoration: none;
    font-family: $fontHeader;
    font-weight: bold;
}

button, input
{
    user-select: none;
    font-size: 22px;
}

button
{
    cursor: pointer;
    font-weight: bold;
}

.close-btn
{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}