$font: 18px sans-serif;
$anchorFont: bold $font;

// Colors

    $colorWhite: #eee;
    $colorPrimary: #76D6A6;
    $colorSecondary: #0C3040;
    $colorLightRed: #c93939;

    // Font Colors

        $colorWhite: #eee;
        $colorPrice: #257E52;
        $colorPriceLight: #76D6A6;