@import './cart-item/index';

.cart-page-div
{
    padding: $defaultMargin 0 $defaultMargin;
    display: flex;
    justify-content: center;

    .cart-items-list
    {
        margin: 0 0 32px 0;
        border-top: 1px solid #333;
    }
}