.cart-item-div
{
    $imgWidth: 32px;
    $imgMargin: 16px;

    text-align: left;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-top-width: 0;
    padding: 16px;
    font-size: 18px;

    .item-title
    {
        font-size: 20px;
        margin: 0;
    }

    .item-img
    {
        min-width: $imgWidth;
        height: 32px;
        margin: 0 $imgMargin 0 0;
        background-color: #333;
    }

    .item-info-div
    {
        width: 100%;
    }

    .head
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .item-price
    {
        font-weight: bold;
        color: $colorPrice;
    }

    #cart-item-amount
    {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    #set-cart-item-amount
    {
        width: max-content;
        height: 24px;
        background-color: $colorWhite;
        border: 1px solid #333;
        border-radius: 4px;
    }

    #item-amount, #increase-amount, #decrease-amount
    {
        width: 24px;
        height: 24px;
        text-align: center;
        font-weight: bold;
        background-color: transparent;
        border: 0;
    }
    
    #increase-amount, #decrease-amount, #remove-item
    {
        cursor: pointer;
    }

    #remove-item
    {
        width: 32px;
        height: 32px;
        text-align: center;
        background-color: $colorLightRed;
        border-radius: 100%;
        border: 0;
        color: $colorWhite;
        font-weight: bold;
        margin-left: 16px;
    }
}