.register-page-div
{
    width: 100%;
    display: flex;

    @media only screen and (max-width: 832px)
    {
        flex-direction: column-reverse;
    }
    
    .banner-div
    {
        width: calc(40% - 64px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 32px;
        background-image: url(https://via.placeholder.com/720);
        background-size: cover;

        @media only screen and (max-width: 832px)
        {
            width: calc(100% - 64px);
        }
    }
    
    .form-div
    {
        width: calc(60% - 64px);
        padding: 32px;
        
        display: flex;
        flex-direction: column;
    
        background-color: $colorSecondary;

        @media only screen and (max-width: 832px)
        {
            width: calc(100% - 64px);
            padding: 64px 32px
        }
    }

    .error-span
    {
        width: max-content;
        padding: 4px;
        font-size: 16px;
        background-color: $colorLightRed;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .register-form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .account-id-div
        {
            margin-bottom: 64px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .remember-me-label
            {
                font-size: 16px;
            }
        }
    
        .account-info-div
        {
            display: flex;
            flex-direction: column;
            align-items: center;

            .account-type-div
            {
                width: 100%;
                margin-bottom: 32px;

                .account-type-line
                {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .account-type-btn
                    {
                        padding: 8px;
                        background-color: transparent;
                        border: none;
                    }
                }
            }
            
            .cnpj-input
            {
                width: calc(18 * 0.6em);
            }

            .input-line
            {
                width: 100%;
                display: flex;
                justify-content: space-around;

                input
                {
                    width: 42%;
                }
            }

            .location-info
            {
                margin-top: 32px;

                .cep-input
                {
                    width: calc(8 * 0.8em);
                }
            }
        }
    
        input
        {
            background-color: adjust-color($color: $colorWhite, $alpha: -.2);
            border: none;
            border-radius: 8px;
            padding: 8px;
            margin: 4px 0 4px;
            font-size: 18px;
        }
        
        .password-input
        {
            -webkit-text-security: disc;
        }
    }

    .btn-div
    {
        display: flex;
        justify-content: center;

        .submit-btn
        {
            width: min-content;
            margin-top: 16px;
            padding: 8px 16px;
    
            background-color: adjust-color($color: $colorWhite, $alpha: -.2);
            border: none;
            border-radius: 8px;

            font-family: $fontHeader;
            font-weight: bold;
            white-space: nowrap;
        }
    }
}


