.appNav
{
    padding-top: 64px;
    
    ul
    {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    
    li
    {
        display: inline;
        padding: 16px;
    }

    a
    {
        font: $anchorFont;
        color: $color;
    }
}