.appShop
{
    a
    {
        font: $anchorFont;
        color: $color;
    }

    .appItem
    {
        background-color: rgba(255,255,255,0.2);
        display: grid;
        padding: 16px;
        margin-top: 32px;
        border-radius: 16px;
    }
}