$font: 18px sans-serif;
$anchorFont: bold $font;

// Colors

    $backgroundColor: #eee;
    $primary: #76D6A6;
    $secondary: #0C3040;

    // Font Colors

        $darkFontColor: #333;
        $lightFontColor: #eee;
        $priceColor: #257E52;