.post-item-div
{
    .post-item-form
    {
        width: 256px;
        padding: 32px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        background-color: $colorPrimary;
    }

    input, select
    {
        height: 24px;
        outline: none;
        margin-bottom: 16px;
        border-width: 1px;
        border-radius: 4px;
        border: 0;
    }
    
    .description-textarea
    {
        resize: none;
        height: 96px;
        margin-bottom: 16px;
        border: 0;
        border-radius: 4px;
    }

    .submit-button
    {
        background-color: $colorPrimary;
        border: 0;
        border-radius: 4px;
        padding: 8px;
    }

}